.header     
    .container
        width: 90%
        margin: 0 auto
    h1
        display: inline-block
    .user-detail
        float: right
        display: inline-block
    .logout-btn
        background: transparent
        border: none
        cursor: pointer
        &:hover
            text-decoration: underline
