<app-header></app-header>
<app-page-header [title]="title"></app-page-header>
    <section class="detail-section">
        <p (click)="router.navigate(['/home'])">Go back to list</p>
        <div class="info-card">
            <div class="profile-pic">
                <img src="assets/dp.png" alt="" width="200">

                <div class="basic-info">
                        <h2>NAME SURNAME</h2>
                        <span>UPAY ID</span>
                        <span>Pune zone</span> 
                    </div>
            </div>
            <div class="info">
                <div class="other-info">
                    <div class="personal-info">
                        <div>
                            <b>Status: </b> New 
                            <span>
                                <a href="">Send confirmation link</a>
                            </span>
                        </div>
                        <div><b>Phone: </b> +91 9787867589</div>
                        <div><b>Email: </b>@gmail.com</div>
                        <div>
                            <b>Address: </b> lksnfkjfn nl knslkj nkjnkkj vn 
                            vdkj nlkdjvnlj
                            sd lkdsd nvljkds ndkj kjs  lsdjfi 
                            ljksfv kjnvlskjndd;ks
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>